/* ----------- DROPDOWN MENU ----------- */

.dropbtn {
    background-color: var(--MY-yellow);
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    width: 100px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    width: 80px;
    z-index: 1;
}
  
.dropdown-content button {
    width: 100%;
    color: black;
    text-decoration: none;
    padding: 10px 0;
    margin-left: 10px;
    display: block;
    background-color: var(--TEST-N8);
    border: 1px solid grey;
}

.dropdown-content button:hover {
    background-color: var(--TEST-N6);
    transition: all 300ms;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ----------- MENU DE BUSQUEDA ----------- */

#searchProduct {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
}

#searchInput {
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 16px;
    padding: 5px 0 5px 10px;
    margin-bottom: 5px;
    /* border: none; */
    border-radius: 10px;
    border: 2px solid gray;
    background-color: var(--TEST-N8);
}

.cancel {
    position: absolute;
    right:0;
    top: 60px;
    margin-right: 20px;
    width: 20%;
}

.cancel a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* ----------- PRODUCTOS ----------- */

#randomProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.product {
    display: grid;
    grid-template-areas: "img nombre" "img stock" "img precio";
    grid-template-columns: min-content auto;
    width: 90%;
    height: 100px;
    border: 3px solid var(--TEST-N6);
    background-color: var(--TEST-N8);
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
}

.product-title {
    grid-area: nombre;
    max-height: 61.3px;
    overflow: hidden;
}

.product-stock {
    grid-area: stock;
}

.product-price {
    grid-area: precio;
}

.product-image {
    grid-area: img;
    width: 180px;
    aspect-ratio: 180/100;
}

.product-image img {
    width: 176px;
    height: 96px;
}

.absolute {
    opacity: 0;
    margin-top: 10px;
    right: 5%;
    position: absolute;
    z-index: 10;
    background-color: white;
    transition: all ease 200ms;
}

.absolute img {
    height: 32px;
}

.product:hover .absolute {
    opacity: 70%;
    cursor: pointer;
}

/* ----------- RESPONSIVE ----------- */

@media (min-width: 768px) and (max-width: 1365px) {
    .cancel {
        margin-right: 5%;
    }

    #randomProducts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .product {
        width: 45%;
    }

    .absolute {
        right: unset;
        margin-left: 42%;
    }
}

@media (min-width: 1366px) and (max-width: 1920px) {
    .cancel {
        margin-right: 5%;
    }

    #randomProducts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .product {
        width: 30%;
    }

    .absolute {
        right: unset;
        margin-left: 27%;
    }
}