<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva transaccion</title>
    <link rel="stylesheet" href="../CSS/root.css">
    <link rel="stylesheet" href="../CSS/newTransaction.css">
</head>
<body>
    <button onclick='window.location.href="./newTransaction.html"'>RECARGAR</button>
    <header>
        <button class="header-link" onclick='window.location.href="./editProduct.html"'>Modificar producto</button>
        <button class="header-link" onclick='window.location.href="./newProduct.html"'>Añadir producto</button>
        <button class="return" onclick='window.location.href="../../index.html"'>&lt Volver</a>
        <button class="header-link" onclick='window.location.href="./allTransactions.html"'>Lista de compras</button>
    </header>
    <main>
        <h1>Nueva transaccion</h1>
        <section id="form">
            <div class="block">
                <h3>Método de pago</h3>
                <select id="methods">
                    <option value="selecciona">Selecciona un método de pago</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                    <option value="Tarjeta de débito">Tarjeta de débito</option>
                    <option value="Transferencia">Transferencia</option>
                    <option value="Cheque">Cheque</option>
                </select>
            </div>
            <div class="block">
                <h3>Productos</h3>
                <div id="products">
                    <div class="product">
                        <p class="productTitle">ID</p>
                        <input type="number" class="productInput" placeholder="ID">
                        <p class="productTitle">Cant</p>
                        <input type="number" class="productInput" placeholder="Cant">
                        <p class="productTitle">Dto</p>
                        <input type="number" class="productInput" placeholder="10%">
                    </div>
                </div>
                <button class="subbutton" onclick="addProductSpace()">Añadir producto</button>
            </div>
            <button class="button" onclick="addTransaction()">Completar transaccion</button>
        </section>
    </main>
    <script src="../js/newTransaction.js"></script>
    <script src="../js/frontEnd.js"></script>
</body>
</html>