main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------- FORMULARIO ----------- */

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: var(--MY-orange-lightest);
    padding: 10px;
    border: 3px solid var(--MY-orange-light);
    border-radius: 25px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10px;
    padding: 10px;
    border: 3px dashed var(--MY-green-light);
    border-radius: 25px;
}

#methods {
    margin-top: 10px;
    outline: 0;
    background: var(--MY-cream-light);
    color: black;
    border: 2px solid var(--MY-orange-light);
    padding: 5px;
    border-radius: 10px;
}

option {
    background-color: var(--MY-orange-lightest);
}

#products {
    width: 100%;
}

.product {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.productTitle {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50px;
}

.productInput {
    width: 50px;
    height: 30px;
    padding: 0 10px;
    border: 2px solid gray;
    border-radius: 25px;
    margin-bottom: 5px;
}

.button {
    margin-top: 10px;
    width: 60%;
    height: 40px;
    background-color: var(--MY-orange-light);
    border: var(--MY-brown-dark) 2px solid;
    border-radius: 25px;
}

.subbutton {
    width: 40%;
    height: 30px;
    background-color: var(--MY-orange-light);
    border: var(--MY-brown-dark) 2px solid;
    border-radius: 25px;
}

.button:hover, .subbutton:hover {
    background-color: var(--MY-orange-lighter);
    transition: all ease 300ms;
}

@media (min-width: 768px) and (max-width: 1365px) {
    
}

@media (min-width: 1366px) and (max-width: 1920px) {
    
}