/* ----------- ALL ----------- */

* {
    font-family: 'comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--MY-brown-darker);
    text-decoration: none;
}

/* ----------- COLORES ----------- */

:root {
    --MY-brown-lighter: #D4BEB0;
    --MY-brown-light: #DDB194;
    --MY-brown-dark: #86542b;
    --MY-brown-darker: #654528;

    --MY-yellow: #F7BE6A;

    --MY-orange-lightest: #FFF8E4;
    --MY-orange-lighter: #F1C480;
    --MY-orange-light: #fdb851;
    --MY-orange: #C67C3F;
    --MY-orange-dark: #b1611f;

    --MY-cream-light: #F7CEA1;

    --MY-green-light: #EBE6BC;

    --TEST-N1: #F7EBBA;
    --TEST-N2: #D4CC9F;
    --TEST-N3: #EBE6BC;
    --TEST-N4: #D4D19F;
    --TEST-N5: #D4BD8A;
    --TEST-N6: #F7CEA1;
    --TEST-N7: #D2FCCC;
    --TEST-N8: #fff8e4;
}

/* ----------- TIPOGRAFIAS ----------- */

@font-face {
    font-family: 'comfortaa';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'barcode';
    src: url('../fonts/barcode.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.barcodeFont {
    font-family: 'barcode', sans-serif;
    font-size: 128px;
    font-weight: 200;
}

/* ----------- GENERAL ----------- */

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    z-index: 5;

    /* background-color: var(--MY-orange-lighter); */
    background-color: var(--MY-cream-light);
    justify-content: space-around;
    align-items: center;

    border-bottom: 3px solid var(--MY-orange);
}

main {
    padding-top: 60px;
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40px;
    background-color: var(--MY-orange);
    color: white;
    border-radius: 15px;
    border: var(--MY-brown-dark) 2px solid;
}

.header-link:hover {
    background-color: var(--MY-orange-dark);
    transition: all 300ms;
}

.return {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40px;
    background-color: var(--MY-orange);
    color: white;
    border-radius: 15px;
    order: -1;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* ----------- RESPONSIVE ----------- */

@media (max-width: 320px) {
    header {
        position: relative;
        height: fit-content;
        flex-direction: column;
        padding-top: 5px;
    }

    .header-link {
        width: 90%;
        margin-bottom: 5px;
    }

    main {
        padding-top: 10px;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    appearance: textfield;
    -moz-appearance:textfield; 
};