main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputZone, #dataZone, .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: var(--MY-orange-lightest);
    padding: 10px;
    border: 3px solid var(--MY-orange-light);
    border-radius: 25px;
    margin-bottom: 10px;
}

.group {
    width: 100%;
}

.button {
    width: 60%;
    height: 40px;
    background-color: var(--MY-orange-light);
    border: var(--MY-brown-dark) 2px solid;
    border-radius: 25px;
}

.subbutton {
    width: 40%;
    height: 30px;
    background-color: var(--MY-orange-light);
    border: var(--MY-brown-dark) 2px solid;
    border-radius: 25px;
}

.button:hover, .subbutton:hover {
    background-color: var(--MY-orange-lighter);
    transition: all ease 300ms;
}

.input {
    width: 50px;
    height: 30px;
    padding: 0 10px;
    border: 2px solid gray;
    border-radius: 25px;
    margin-bottom: 5px;
}

.newValue, .newTag {
    width: 150px;
    height: 30px;
    padding: 0 10px;
    border: 2px solid gray;
    border-radius: 25px;
    margin-bottom: 5px;
}

.datoAnt, .tagAnt {
    width: 200px
}