<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOSET</title>
    <link rel="stylesheet" href="../CSS/root.css">
    <link rel="stylesheet" href="../CSS/editProduct.css">
</head>
<body>
    <button onclick='window.location.href="./editProduct.html"'>RECARGAR</button>
    <header>
        <button class="header-link" onclick='window.location.href="./newProduct.html"'>Añadir producto</button>
        <button class="return" onclick='window.location.href="../../../index.html"'>&lt Volver</a>
        <button class="header-link" onclick='window.location.href="./allTransactions.html"'>Lista de compras</button>
        <button class="header-link" onclick='window.location.href="./newTransaction.html"'>Realizar compra</button>
    </header>
    <main>
        <h1>Modificar producto</h1>
        <div id="inputZone">
            <div class="group">
                <h3>ID del producto: </h3>
                <input type="number" class="input" name="" id=""> <!--TRAE AL PRODUCTO CON ESE ID EN DATAZONE-->
            </div>
            <button class="subbutton" onclick="searchProduct">Modificar producto</button>
        </div>
        <div id="dataZone">
            <div class="group">
                <div class="datoAnt">Titulo: <span class="datoAntValue"></span></div>
                <input type="text" class="newValue">
            </div>
            <div class="group">
                <div class="datoAnt">Precio: <span class="datoAntValue"></span></div>
                <input type="text" class="newValue">
            </div>
            <div class="group">
                <div class="datoAnt">Stock: <span class="datoAntValue"></span></div>
                <input type="text" class="newValue">
            </div>
            <!-- <div class="group">
                <div class="datoAnt">SMTH <span class="datoAntValue"></span></div>
                <input type="text" class="newValue">
            </div> -->
            <div class="block">
                <h3>Etiquetas</h3> <!-- Por cada etiquetam crea un group con su contenido dentro-->
                <div class="group">
                    <div class="tagAnt">Mueble</div>
                    <input type="text" class="newTag">
                </div>
            </div>
            <button class="button">Guardar cambios</button>
        </div>
    </main>
    <script src="../js/editProduct.js"></script>
</body>
</html>